.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 225px;
    background-color: #0099ff !important;

    h2 {
        margin-top: 1rem;
        color: white;
    }
    .content {
        
        .btnWrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}