.wrap {
    padding: 1.5rem;
    display: inline-flex;
    background-color: #75ead9 !important;
    color: #494949 !important;
    transition: all 0.3s !important;
    cursor: pointer;

    &:hover {
        background-color: #5183f6 !important;
        color: rgb(237, 237, 237) !important;
    }

    h3 {
        margin: 1rem 0;
    }

    
}


.practiceWrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .setting {
        margin-top: 3rem;
        text-align: center;
    }

    .setting, .accordionWrap {
        width: 50%;

        @media screen and (max-width: 430px) {
            width: 90%
        }
    }
}