.toolbarWrap {
    flex-direction: row !important;
    align-items: center;
    position: relative;
    height: 65px;
    h2 {
        margin-left: 2rem;
        cursor: pointer;
    }
    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 0%);
    }
}
