@import '../../../../sass-vars.scss';

.wrap {
    width: $verb-util-width;
    height: $verb-util-height;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: beige;
    .choicesWrap {

        .top {
            display: flex;
            flex-direction: row;
            grid-gap: 1rem;
            align-items: center;
            justify-content: space-between;

            button {
                align-self:initial;
            }
        }
        .verb {
            padding: 1rem;
            border: 1px solid grey;
            border-radius: 4px;
            font-weight: bold;
            font-size: 28px;
            display: flex;
            justify-content: space-between;
            height: 80px;
            margin-bottom: 10px;


            .arabic {
                height: 30px;
                font-size: 24px;

                @media screen and (max-width: 430px) {
                    font-size: 20px;
                }
            }

            .english {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;

                button {
                    margin-left: auto;
                }
            }
        }

        .verbs {
            overflow: scroll;
            max-height: 265px;
            
            font-size: 20px;
        }
    }
}